<ion-grid>

  <ion-row id ="header">
      <ion-img src ="../../assets/image/logo.png"> </ion-img>
      <h6> FORMS </h6>
      <div (click) = "goToMain()"> Back</div>
  </ion-row>

  <ion-row id = "pendingRequest-row">

    <h5><ion-icon name="file-tray-outline"></ion-icon>Pending Request</h5>

    <div id = "detailContainer"> 
      <h6 id ="name"> <span>Name: </span>Juan Dela Cruz </h6>
      <h6 id ="LRN"><span>LRN: </span>107691070032</h6>
      <h6 id ="email"><span>Email: </span>juandelacruz@gmail.com</h6>
      <h6 id ="request"><span>Request: </span>FORM 137</h6>
    </div>

    
    <div id = "detailContainer2"> 
      <h6 id ="name"> <span>Name: </span>Juan Dela Cruz </h6>
      <h6 id ="LRN"><span>LRN: </span>107691070032</h6>
      <h6 id ="email"><span>Email: </span>juandelacruz@gmail.com</h6>
      <h6 id ="request"><span>Request: </span>FORM 137</h6>
    </div>

  </ion-row>


  <ion-row id ="finishRequest-row">
    <h5>
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      Finished Request
    </h5>

    <div id = "detailContainer"> 
      <h6 id ="name"> <span>Name: </span>Juan Dela Cruz </h6>
      <h6 id ="LRN"><span>LRN: </span>107691070032</h6>
      <h6 id ="email"><span>Email: </span>juandelacruz@gmail.com</h6>
      <h6 id ="request"><span>Request: </span>Good Moral</h6>
    </div>
    
    
    <div id = "detailContainer"> 
      <h6 id ="name"> <span>Name: </span>Juan Dela Cruz </h6>
      <h6 id ="LRN"><span>LRN: </span>107691070032</h6>
      <h6 id ="email"><span>Email: </span>juandelacruz@gmail.com</h6>
      <h6 id ="request"><span>Request: </span>Certificate of Regisration</h6>
    </div>
  </ion-row>
  </ion-grid>