<ion-grid>

  <ion-row id ="header">
      <ion-img src ="../../assets/image/logo.png"> </ion-img>
      <h6> SCHEDULE </h6>
  </ion-row>


  <ion-row id ="sub-row">


    <ion-card id ="card2">
      <h5 id ="subjects">Mathematics</h5>
      <p id ="name">Mr. Juan Dela Cruz</p>
      <p id ="time">7:00 AM - 8:00 AM</p>
      <p id ="room">Room 01</p>

    </ion-card>

    <ion-card id ="card3">
      <h5 id ="subjects">English</h5>
      <p id ="name">Mr. Juan Dela Cruz</p>
      <p id ="time">8:00 AM - 9:00 AM</p>
      <p id ="room">Room 01</p>

    </ion-card>

    <ion-card id ="card4">
      <h5 id ="subjects">Science</h5>
      <p id ="name">Mr. Juan Dela Cruz</p>
      <p id ="time">9:00 AM - 10:00 AM</p>
      <p id ="room">Room 01</p>

    </ion-card>


    <ion-card id ="card5">
      <h5 id ="subjects">Filipino</h5>
      <p id ="name">Mr. Juan Dela Cruz</p>
      <p id ="time">10:00 AM - 11:00 AM</p>
      <p id ="room">Room 01</p>

    </ion-card>


    <ion-card id ="card2">
      <h5 id ="subjects">MAPEH</h5>
      <p id ="name">Mr. Juan Dela Cruz</p>
      <p id ="time">12:00 AM - 1:00 PM</p>
      <p id ="room">Room 01</p>

    </ion-card>

    <ion-card id ="card3">
      <h5 id ="subjects">Edukasyon Sa Pagpapakatao</h5>
      <p id ="name">Mr. Juan Dela Cruz</p>
      <p id ="time">1:00 PM- 2:00 PM</p>
      <p id ="room">Room 01</p>

    </ion-card>

    <ion-card id ="card4">
      <h5 id ="subjects">Technology and Livelihood Education</h5>
      <p id ="name">Mr. Juan Dela Cruz</p>
      <p id ="time">2:00 PM- 3:00 PM</p>
      <p id ="room">Room 01</p>

    </ion-card>


    <ion-card id ="card5">
      <h5 id ="subjects">Araling Panlipunan</h5>
      <p id ="name">Mr. Juan Dela Cruz</p>
      <p id ="time">3:00 AM - 4:00 AM</p>
      <p id ="room">Room 01</p>

    </ion-card>

  </ion-row>
</ion-grid>